@font-face {
    font-family: 'Futura';
    src: url('futura/futur.ttf');
}

@font-face {
    font-family: 'Futura Heavy';
    src: url('futura/Futura\ Heavy\ font.ttf');
}

@font-face {
    font-family: 'Futura Bold';
    src: url('futura/Futura\ Bold\ font.ttf');
}

@font-face {
    font-family: 'Futura Light';
    src: url('futura/futura light bt.ttf');
}

@font-face {
    font-family: 'Futura Medium';
    src: url('futura/futura medium bt.ttf');
}