:root {
  --accent-color: #ff7f00;
  --topbar-width: 860px;
}

@font-face {
  font-family: 'Futura';
  src: url("../futura/futur.ttf");
}

@font-face {
  font-family: 'Futura Heavy';
  src: url("../futura/Futura Heavy font.ttf");
}

@font-face {
  font-family: 'Futura Bold';
  src: url("../futura/Futura Bold font.ttf");
}

@font-face {
  font-family: 'Futura Light';
  src: url("../futura/futura light bt.ttf");
}

@font-face {
  font-family: 'Futura Medium';
  src: url("../futura/futura medium bt.ttf");
}

@-webkit-keyframes smallthing {
  0% {
    width: 0px;
    left: 0px;
  }
  25% {
    width: 12px;
    left: 0px;
  }
  50% {
    width: 12px;
    left: var(--topbar-width);
  }
  100% {
    width: 0px;
    left: var(--topbar-width);
  }
}

@keyframes smallthing {
  0% {
    width: 0px;
    left: 0px;
  }
  25% {
    width: 12px;
    left: 0px;
  }
  50% {
    width: 12px;
    left: var(--topbar-width);
  }
  100% {
    width: 0px;
    left: var(--topbar-width);
  }
}

@-webkit-keyframes undo-smallthing {
  100% {
    width: 0px;
    left: 0px;
  }
  66% {
    width: 12px;
    left: 0px;
  }
  33% {
    width: 12px;
    left: var(--topbar-width);
  }
  0% {
    width: 0px;
    left: var(--topbar-width);
  }
}

@keyframes undo-smallthing {
  100% {
    width: 0px;
    left: 0px;
  }
  66% {
    width: 12px;
    left: 0px;
  }
  33% {
    width: 12px;
    left: var(--topbar-width);
  }
  0% {
    width: 0px;
    left: var(--topbar-width);
  }
}

@-webkit-keyframes fill-topbar {
  0% {
    width: 0px;
  }
  100% {
    width: var(--topbar-width);
  }
}

@keyframes fill-topbar {
  0% {
    width: 0px;
  }
  100% {
    width: var(--topbar-width);
  }
}

@-webkit-keyframes unfill-topbar {
  0% {
    width: var(--topbar-width);
  }
  100% {
    width: 0px;
  }
}

@keyframes unfill-topbar {
  0% {
    width: var(--topbar-width);
  }
  100% {
    width: 0px;
  }
}

@-webkit-keyframes fill-to-right {
  0% {
    width: 0px;
  }
  100% {
    width: 1310px;
  }
}

@keyframes fill-to-right {
  0% {
    width: 0px;
  }
  100% {
    width: 1310px;
  }
}

@-webkit-keyframes unfill-from-right {
  0% {
    width: 1310px;
  }
  100% {
    width: 0px;
  }
}

@keyframes unfill-from-right {
  0% {
    width: 1310px;
  }
  100% {
    width: 0px;
  }
}

.debug {
  position: absolute;
  top: 860px;
  left: 102px;
}

body {
  background-color: green;
  height: 1080px;
  margin: 0%;
  padding: 0%;
}

.widget {
  position: absolute;
  left: 102px;
  top: 890px;
  width: 232px;
  background-color: #fafafa;
}

.widget .logo {
  position: relative;
  height: 70px;
  background-color: #fafafa;
}

.widget .clock {
  position: relative;
  height: 45px;
  background-color: var(--accent-color);
  text-align: center;
  margin: 0px;
}

.widget .clock span {
  line-height: 45px;
  font-size: 30px;
  color: #fafafa;
  font-family: 'Futura Heavy', Arial, Helvetica, sans-serif;
}

.overlay {
  position: absolute;
  top: 890px;
  left: 340px;
  /*  TEXT  */
  /*  STRIPS and everything else  */
}

.overlay span {
  margin-left: 20px;
  margin-right: 20px;
  white-space: nowrap;
  font-family: Arial, Helvetica, sans-serif;
}

.overlay .heading {
  line-height: 66px;
  font-size: 36pt;
  font-family: 'Futura Heavy';
  text-transform: uppercase;
  color: #fafafa;
}

.overlay .description {
  line-height: 42px;
  font-size: 24pt;
  font-family: 'Futura Light';
  color: rgba(2, 33, 62, 0.9);
}

.overlay .top-strip {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 66px;
  max-width: 1310px;
  background-color: rgba(2, 32, 60, 0.9);
}

.overlay .top-strip.enter {
  -webkit-animation: fill-topbar 0.5s;
          animation: fill-topbar 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.overlay .top-strip.leave {
  -webkit-animation: unfill-topbar 0.5s;
          animation: unfill-topbar 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.overlay .middle-strip {
  position: absolute;
  top: 64px;
  height: 6px;
  width: 1310px;
  background-color: var(--accent-color);
}

.overlay .middle-strip.enter {
  -webkit-animation: fill-to-right 0.4s;
          animation: fill-to-right 0.4s;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.overlay .middle-strip.leave {
  -webkit-animation: unfill-from-right 0.4s;
          animation: unfill-from-right 0.4s;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.overlay .bottom-strip {
  position: relative;
  overflow: hidden;
  height: 45px;
  width: 1310px;
  background-color: #fafafa;
}

.overlay .bottom-strip.enter {
  -webkit-animation: fill-to-right 1s;
          animation: fill-to-right 1s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.overlay .bottom-strip.leave {
  -webkit-animation: unfill-from-right 0.4s;
          animation: unfill-from-right 0.4s;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.overlay .thing-for-animation {
  position: absolute;
  height: 66px;
  width: 12px;
  top: 0px;
  left: 860px;
  background-color: var(--accent-color);
}

.overlay .thing-for-animation.enter {
  -webkit-animation: smallthing 2s;
          animation: smallthing 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.overlay .thing-for-animation.leave {
  -webkit-animation: undo-smallthing 1.51s;
          animation: undo-smallthing 1.51s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.imaginary-strip {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  bottom: 200px;
  height: 66px;
  max-width: 1180px;
  visibility: hidden;
}

.imaginary-strip span {
  margin-left: 20px;
  margin-right: 20px;
  white-space: nowrap;
  line-height: 66px;
  font-size: 36pt;
  font-family: 'Futura Heavy';
  text-transform: uppercase;
  color: #fafafa;
}
/*# sourceMappingURL=main.css.map */